rec/sessionimpossible_nodeRED
[{"id":"5d8e61eb.a271a","type":"websocket-listener","z":"b1702677.4e8fd8","path":"/ws/mind","wholemsg":"false"},{"id":"3c21cfd5.c3de3","type":"websocket-listener","z":"b1702677.4e8fd8","path":"/ws/myo","wholemsg":"false"},{"id":"e62d7e3d.19d28","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"7ac3a686.853c58","type":"websocket in","z":"b1702677.4e8fd8","name":"","server":"e62d7e3d.19d28","x":94,"y":600.25,"wires":[["1dcfe1a2.e2301e"]]},{"id":"1dcfe1a2.e2301e","type":"function","z":"b1702677.4e8fd8","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":263.00000762939453,"y":599,"wires":[["76bb6650.894498"]]},{"id":"76bb6650.894498","type":"websocket out","z":"b1702677.4e8fd8","name":"","server":"e62d7e3d.19d28","x":434,"y":598.9999866485596,"wires":[]},{"id":"7225258c.8ddadc","type":"http in","z":"b1702677.4e8fd8","name":"","url":"/chat","method":"get","x":87,"y":666.9999866485596,"wires":[["a3864682.5c79b8"]]},{"id":"a3864682.5c79b8","type":"template","z":"b1702677.4e8fd8","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":253,"y":666.9999866485596,"wires":[["6802be65.97fd4"]]},{"id":"6802be65.97fd4","type":"http response","z":"b1702677.4e8fd8","name":"","x":396,"y":666.9999866485596,"wires":[]},{"id":"47e84146.b817c","type":"http in","z":"b1702677.4e8fd8","name":"","url":"/myo","method":"post","swaggerDoc":"","x":151.5,"y":110,"wires":[["ba585337.45a7b","3776b253.c8894e","bf9e9754.406168"]]},{"id":"12b16272.ed4e9e","type":"http in","z":"b1702677.4e8fd8","name":"","url":"/mind","method":"post","swaggerDoc":"","x":155.5,"y":263,"wires":[["468e8fad.b9717","383b1a38.c7c4e6","70863e1.f8f79c","b2b0e73e.4d4f18"]]},{"id":"468e8fad.b9717","type":"debug","z":"b1702677.4e8fd8","name":"","active":true,"console":"false","complete":"false","x":626.5000076293945,"y":176.00000381469727,"wires":[]},{"id":"ba585337.45a7b","type":"http response","z":"b1702677.4e8fd8","name":"","x":291.5,"y":27,"wires":[]},{"id":"383b1a38.c7c4e6","type":"http response","z":"b1702677.4e8fd8","name":"","x":329.5,"y":364,"wires":[]},{"id":"3776b253.c8894e","type":"cloudant out","z":"b1702677.4e8fd8","name":"","cloudant":"","database":"myo","service":"sessionImpossible-cloudantNoSQLDB","payonly":true,"operation":"insert","x":327.5,"y":168,"wires":[]},{"id":"70863e1.f8f79c","type":"cloudant out","z":"b1702677.4e8fd8","name":"","cloudant":"","database":"mind","service":"sessionImpossible-cloudantNoSQLDB","payonly":true,"operation":"insert","x":540.2500076293945,"y":262.00000381469727,"wires":[]},{"id":"bf9e9754.406168","type":"websocket out","z":"b1702677.4e8fd8","name":"","server":"3c21cfd5.c3de3","client":"","x":476.5,"y":114,"wires":[]},{"id":"b2b0e73e.4d4f18","type":"websocket out","z":"b1702677.4e8fd8","name":"","server":"5d8e61eb.a271a","client":"","x":530.2500076293945,"y":317.0000057220459,"wires":[]},{"id":"b54bc18e.4ab44","type":"http in","z":"b1702677.4e8fd8","name":"","url":"/meter","method":"get","swaggerDoc":"","x":136.5,"y":435,"wires":[["44e785b7.bb187c"]]},{"id":"44e785b7.bb187c","type":"template","z":"b1702677.4e8fd8","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Sensor Data Visualization</title>\n    \n    <script type=\"text/javascript\" src=\"//www.google.com/jsapi\"></script>\n    \n    <script type=\"text/javascript\">\n      var wsUrl = 'ws://sessionimpossible.au-syd.mybluemix.net/ws/myo';\n      \n      var wsMindUrl = 'ws://sessionimpossible.au-syd.mybluemix.net/ws/mind';\n      \n      var socket;\n      var socketMind;\n      \n      var yawData,heartData,mindData;\n      var yawOptions, heartOptions,mindOptions;\n      var yawChart,heartChart,mindChart;\n      \n      // Google Gauge\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n\n        // Data for yaw chart\n        yawData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Motion', 0],\n\t\t\t['Heart', 0]\n        ]);\n       mindData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Tension', 0]\n        ]);\n\n        // Option for yaw chart\n        yawOptions = {\n          width: 600, height: 300,\n          min: -100, max: 100,\n          redFrom: 90, redTo: 100,\n          yellowFrom:75, yellowTo: 90,\n          minorTicks: 5\n        };\n        \n         mindOptions = {\n          width: 600, height: 300,\n          min: 0, max: 100,\n          redFrom: 70, redTo: 100,\n          yellowFrom:50, yellowTo: 70,\n          minorTicks: 5\n        };\n        \n        yawChart = new google.visualization.Gauge(document.getElementById('yawChart'));\n        mindChart = new google.visualization.Gauge(document.getElementById('mindChart'));\n        \n        yawChart.draw(yawData, yawOptions);\n        mindChart.draw(mindData, mindOptions);\n      };\n      \n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n\n          // Update yaw data\n          yawData.setValue(0, 1,  sensorData.yaw);\n          var rand = 60+Math.floor( Math.random() * 11 );\n          yawData.setValue(1, 1,  rand);\n          \n          //pitchAndRollChart.draw(pitchAndRollData, pitchAndRollOptions);\n          yawChart.draw(yawData, yawOptions);\n          \n          \n        };\n        \n      };\n      function connect2() {\n        socketMind = new WebSocket(wsMindUrl);\n        socketMind.onmessage = function(e) {\n          var sensorMindData = JSON.parse(e.data);\n\n          mindData.setValue(0, 1, sensorMindData.attention); \n          mindChart.draw(mindData, mindOptions);\n          \n        };    \n        \n      };\n      function disconnect() {\n        socket.close();\n        socketMind.close();\n      };\n        \n    </script>\n  </head>\n  <body onLoad=\"connect(),connect2()\">\n    <h1>audience meter</h1>    \n    <span style=\"display: inline-block;\">\n      <span id=\"yawChart\" style=\"width: 600px; height: 300px;\"></span>\n      <span id=\"mindChart\" style=\"width: 600px; height: 300px;\"></span>\n    </span>\n  </body>\n</html>","x":311,"y":433,"wires":[["4df79b0a.b20864"]]},{"id":"4df79b0a.b20864","type":"http response","z":"b1702677.4e8fd8","name":"","x":519.0000076293945,"y":420.0000066757202,"wires":[]},{"id":"b1423f24.4ebdc","type":"http in","z":"b1702677.4e8fd8","name":"","url":"/code_screen","method":"get","swaggerDoc":"","x":101.5,"y":500,"wires":[["69ee193.f9611e8","9647da12.69b828"]]},{"id":"69ee193.f9611e8","type":"debug","z":"b1702677.4e8fd8","name":"","active":true,"console":"false","complete":"false","x":322,"y":486,"wires":[]},{"id":"afac1882.5053e8","type":"http response","z":"b1702677.4e8fd8","name":"","x":409,"y":543,"wires":[]},{"id":"9647da12.69b828","type":"template","z":"b1702677.4e8fd8","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Sensor Data Visualization</title>\n    \n    <script type=\"text/javascript\" src=\"//www.google.com/jsapi\"></script>\n    \n    <script type=\"text/javascript\">\n      var wsUrl = 'ws://sessionimpossible.au-syd.mybluemix.net/ws/myo';\n      \n      var socket;\n      var pitchAndRollData, yawData;\n      var pitchAndRollOptions, yawOptions;\n      var pitchAndRollChart, yawChart;\n      \n      // Google Gauge\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n        // Data for pitch and roll chart\n        pitchAndRollData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Pitch', 0],\n          ['Roll', 0]\n        ]);\n        \n        // Data for yaw chart\n        yawData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Yaw', 0]\n        ]);\n        \n        // Option for pitch and roll chart\n        // If you want to set other options, please refer to https://developers.google.com/chart/interactive/docs/gallery/gauge\n        pitchAndRollOptions = {\n          width: 600, height: 300,\n          min: -100, max: 100,\n          redFrom: 70, redTo: 100,\n          yellowFrom:40, yellowTo: 70,\n          minorTicks: 5\n        };\n        \n        // Option for yaw chart\n        yawOptions = {\n          width: 600, height: 300,\n          min: -100, max: 100,\n          redFrom: 90, redTo: 100,\n          yellowFrom:75, yellowTo: 90,\n          minorTicks: 5\n        };\n        \n        pitchAndRollChart = new google.visualization.Gauge(document.getElementById('pitchAndRollChart'));\n        yawChart = new google.visualization.Gauge(document.getElementById('yawChart'));\n        \n        pitchAndRollChart.draw(pitchAndRollData, pitchAndRollOptions);\n        yawChart.draw(yawData, yawOptions);\n      };\n      \n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n          \n          // Update pitch and roll data\n          pitchAndRollData.setValue(0, 1, sensorData.pitch);\n          pitchAndRollData.setValue(1, 1, sensorData.roll);\n          \n          // Update yaw data\n          yawData.setValue(0, 1, sensorData.yaw);\n          \n          pitchAndRollChart.draw(pitchAndRollData, pitchAndRollOptions);\n          yawChart.draw(yawData, yawOptions);\n        };\n      };\n      \n      function disconnect() {\n        socket.close();\n      };\n        \n    </script>\n  </head>\n  <body>\n    <h1>Session Impossible</h1>\n    <div>\n      <button onclick=\"connect()\">Connect</button>\n      <button onclick=\"disconnect()\">Disconnect</button>\n    </div>\n    \n    <div>\n      <div id=\"pitchAndRollChart\" style=\"width: 600px; height: 300px;\"></div>\n      <div id=\"yawChart\" style=\"width: 600px; height: 300px;\"></div>\n    </div>\n  </body>\n</html>","x":288,"y":542,"wires":[["afac1882.5053e8"]]},{"id":"20635bec.df9ca4","type":"inject","z":"b1702677.4e8fd8","name":"","topic":"heart","payload":"60","payloadType":"json","repeat":"1","crontab":"","once":false,"x":131.5,"y":366,"wires":[["44e785b7.bb187c"]]}]
