rec/sessionimpossible_nodeRED
[{"id":"c411422c.3beec","type":"websocket-listener","z":"5a6f5010.a590b","path":"/ws/code","wholemsg":"false"},{"id":"33c80b0a.cc37f4","type":"websocket-listener","z":"5a6f5010.a590b","path":"/ws/mind","wholemsg":"false"},{"id":"f75f4923.08a0b8","type":"websocket-listener","z":"5a6f5010.a590b","path":"/ws/myo","wholemsg":"false"},{"id":"43517cfd.bcae84","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"b38fe2dc.4c702","type":"websocket in","z":"5a6f5010.a590b","name":"","server":"43517cfd.bcae84","x":114,"y":831.25,"wires":[["ccff35f6.3300c8"]]},{"id":"ccff35f6.3300c8","type":"function","z":"5a6f5010.a590b","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":283.00000762939453,"y":830,"wires":[["ed18855c.12e778"]]},{"id":"ed18855c.12e778","type":"websocket out","z":"5a6f5010.a590b","name":"","server":"43517cfd.bcae84","x":454,"y":829.9999866485596,"wires":[]},{"id":"29972ad1.d668d6","type":"http in","z":"5a6f5010.a590b","name":"","url":"/chat","method":"get","x":107,"y":897.9999866485596,"wires":[["f8a29221.075d7"]]},{"id":"f8a29221.075d7","type":"template","z":"5a6f5010.a590b","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":273,"y":897.9999866485596,"wires":[["5895f34d.a76a0c"]]},{"id":"5895f34d.a76a0c","type":"http response","z":"5a6f5010.a590b","name":"","x":416,"y":897.9999866485596,"wires":[]},{"id":"1257468d.eda8b9","type":"http in","z":"5a6f5010.a590b","name":"","url":"/myo","method":"post","swaggerDoc":"","x":169.5,"y":118,"wires":[["418941f7.be76c","7e0ad2ae.81f52c","b1ade568.4e5218"]]},{"id":"77ee46dc.8811b8","type":"http in","z":"5a6f5010.a590b","name":"","url":"/mind","method":"post","swaggerDoc":"","x":173.5,"y":271,"wires":[["8ccb5edb.7334a","98cd5078.6732b","3ebba936.c14456","5279d7f8.ad8628"]]},{"id":"8ccb5edb.7334a","type":"debug","z":"5a6f5010.a590b","name":"","active":true,"console":"false","complete":"false","x":644.5000076293945,"y":184.00000381469727,"wires":[]},{"id":"418941f7.be76c","type":"http response","z":"5a6f5010.a590b","name":"","x":309.5,"y":35,"wires":[]},{"id":"98cd5078.6732b","type":"http response","z":"5a6f5010.a590b","name":"","x":347.5,"y":372,"wires":[]},{"id":"7e0ad2ae.81f52c","type":"cloudant out","z":"5a6f5010.a590b","service":"sessionImpossible-cloudantNoSQLDB","cloudant":"","name":"","database":"myo","payonly":true,"operation":"insert","x":345.5,"y":176,"wires":[]},{"id":"3ebba936.c14456","type":"cloudant out","z":"5a6f5010.a590b","service":"sessionImpossible-cloudantNoSQLDB","cloudant":"","name":"","database":"mind","payonly":true,"operation":"insert","x":558.2500076293945,"y":270.00000381469727,"wires":[]},{"id":"b1ade568.4e5218","type":"websocket out","z":"5a6f5010.a590b","name":"","server":"f75f4923.08a0b8","client":"","x":494.5,"y":122,"wires":[]},{"id":"5279d7f8.ad8628","type":"websocket out","z":"5a6f5010.a590b","name":"","server":"33c80b0a.cc37f4","client":"","x":548.2500076293945,"y":325.0000057220459,"wires":[]},{"id":"9aa1f763.655e08","type":"http in","z":"5a6f5010.a590b","name":"","url":"/meter","method":"get","swaggerDoc":"","x":154.5,"y":443,"wires":[["219d559f.de62aa"]]},{"id":"219d559f.de62aa","type":"template","z":"5a6f5010.a590b","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Sensor Data Visualization</title>\n    \n    <script type=\"text/javascript\" src=\"//www.google.com/jsapi\"></script>\n    \n    <script type=\"text/javascript\">\n      var wsUrl = 'ws://sessionimpossible.au-syd.mybluemix.net/ws/myo';\n      \n      var wsMindUrl = 'ws://sessionimpossible.au-syd.mybluemix.net/ws/mind';\n      \n      var socket;\n      var socketMind;\n      \n      var yawData,heartData,mindData;\n      var yawOptions, heartOptions,mindOptions;\n      var yawChart,heartChart,mindChart;\n      \n      // Google Gauge\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n\n        // Data for yaw chart\n        yawData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Motion', 0],\n\t\t\t['Heart', 0]\n        ]);\n       mindData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Tension', 0]\n        ]);\n\n        // Option for yaw chart\n        yawOptions = {\n          width: 600, height: 300,\n          min: -100, max: 100,\n          redFrom: 90, redTo: 100,\n          yellowFrom:75, yellowTo: 90,\n          minorTicks: 5\n        };\n        \n         mindOptions = {\n          width: 600, height: 300,\n          min: 0, max: 100,\n          redFrom: 70, redTo: 100,\n          yellowFrom:50, yellowTo: 70,\n          minorTicks: 5\n        };\n        \n        yawChart = new google.visualization.Gauge(document.getElementById('yawChart'));\n        mindChart = new google.visualization.Gauge(document.getElementById('mindChart'));\n        \n        yawChart.draw(yawData, yawOptions);\n        mindChart.draw(mindData, mindOptions);\n      };\n      \n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n\n          // Update yaw data\n          yawData.setValue(0, 1,  sensorData.yaw);\n          var rand = 60+Math.floor( Math.random() * 11 );\n          yawData.setValue(1, 1,  rand);\n          \n          //pitchAndRollChart.draw(pitchAndRollData, pitchAndRollOptions);\n          yawChart.draw(yawData, yawOptions);\n          \n          \n        };\n        \n      };\n      function connect2() {\n        socketMind = new WebSocket(wsMindUrl);\n        socketMind.onmessage = function(e) {\n          var sensorMindData = JSON.parse(e.data);\n\n          mindData.setValue(0, 1, sensorMindData.attention); \n          mindChart.draw(mindData, mindOptions);\n          \n        };    \n        \n      };\n      function disconnect() {\n        socket.close();\n        socketMind.close();\n      };\n        \n    </script>\n  </head>\n  <body onLoad=\"connect(),connect2()\">\n    <h1>audience meter</h1>    \n    <span style=\"display: inline-block;\">\n      <span id=\"yawChart\" style=\"width: 600px; height: 300px;\"></span>\n      <span id=\"mindChart\" style=\"width: 600px; height: 300px;\"></span>\n    </span>\n  </body>\n</html>","x":329,"y":441,"wires":[["a176323a.5e89d"]]},{"id":"a176323a.5e89d","type":"http response","z":"5a6f5010.a590b","name":"","x":537.0000076293945,"y":428.0000066757202,"wires":[]},{"id":"1f87e44d.e0781c","type":"http in","z":"5a6f5010.a590b","name":"","url":"/code_screen","method":"get","swaggerDoc":"","x":119.5,"y":508,"wires":[["f12246ab.0eddb8","a18c1163.5e73f"]]},{"id":"f12246ab.0eddb8","type":"debug","z":"5a6f5010.a590b","name":"","active":true,"console":"false","complete":"false","x":340,"y":494,"wires":[]},{"id":"44a35ef1.bb5ca","type":"http response","z":"5a6f5010.a590b","name":"","x":427,"y":551,"wires":[]},{"id":"a18c1163.5e73f","type":"template","z":"5a6f5010.a590b","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Sensor Data Visualization</title>\n    \n    <script type=\"text/javascript\" src=\"//www.google.com/jsapi\"></script>\n    \n    <script type=\"text/javascript\">\n      var wsUrl = 'ws://sessionimpossible.au-syd.mybluemix.net/ws/myo';\n      \n      var socket;\n      var pitchAndRollData, yawData;\n      var pitchAndRollOptions, yawOptions;\n      var pitchAndRollChart, yawChart;\n      \n      // Google Gauge\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n        // Data for pitch and roll chart\n        pitchAndRollData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Pitch', 0],\n          ['Roll', 0]\n        ]);\n        \n        // Data for yaw chart\n        yawData = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Yaw', 0]\n        ]);\n        \n        // Option for pitch and roll chart\n        // If you want to set other options, please refer to https://developers.google.com/chart/interactive/docs/gallery/gauge\n        pitchAndRollOptions = {\n          width: 600, height: 300,\n          min: -100, max: 100,\n          redFrom: 70, redTo: 100,\n          yellowFrom:40, yellowTo: 70,\n          minorTicks: 5\n        };\n        \n        // Option for yaw chart\n        yawOptions = {\n          width: 600, height: 300,\n          min: -100, max: 100,\n          redFrom: 90, redTo: 100,\n          yellowFrom:75, yellowTo: 90,\n          minorTicks: 5\n        };\n        \n        pitchAndRollChart = new google.visualization.Gauge(document.getElementById('pitchAndRollChart'));\n        yawChart = new google.visualization.Gauge(document.getElementById('yawChart'));\n        \n        pitchAndRollChart.draw(pitchAndRollData, pitchAndRollOptions);\n        yawChart.draw(yawData, yawOptions);\n      };\n      \n      function connect() {\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n          var sensorData = JSON.parse(e.data);\n          \n          // Update pitch and roll data\n          pitchAndRollData.setValue(0, 1, sensorData.pitch);\n          pitchAndRollData.setValue(1, 1, sensorData.roll);\n          \n          // Update yaw data\n          yawData.setValue(0, 1, sensorData.yaw);\n          \n          pitchAndRollChart.draw(pitchAndRollData, pitchAndRollOptions);\n          yawChart.draw(yawData, yawOptions);\n        };\n      };\n      \n      function disconnect() {\n        socket.close();\n      };\n        \n    </script>\n  </head>\n  <body>\n    <h1>Session Impossible</h1>\n    <div>\n      <button onclick=\"connect()\">Connect</button>\n      <button onclick=\"disconnect()\">Disconnect</button>\n    </div>\n    \n    <div>\n      <div id=\"pitchAndRollChart\" style=\"width: 600px; height: 300px;\"></div>\n      <div id=\"yawChart\" style=\"width: 600px; height: 300px;\"></div>\n    </div>\n  </body>\n</html>","x":306,"y":550,"wires":[["44a35ef1.bb5ca"]]},{"id":"5961535c.a69eac","type":"websocket out","z":"5a6f5010.a590b","name":"","server":"c411422c.3beec","client":"","x":704,"y":645,"wires":[]},{"id":"9d48d678.62b728","type":"debug","z":"5a6f5010.a590b","name":"","active":true,"console":"false","complete":"payload","x":824,"y":1082,"wires":[]},{"id":"abca4f75.5435b","type":"inject","z":"5a6f5010.a590b","name":"Generate Token","topic":"authorize","payload":"","payloadType":"str","repeat":"14","crontab":"","once":false,"x":105,"y":978,"wires":[[]]},{"id":"d091ad6c.2f6e5","type":"http request","z":"5a6f5010.a590b","name":"OAuth Server","method":"POST","ret":"obj","url":"https://www.fitbit.com/oauth2/authorize","x":677,"y":1020,"wires":[["9d48d678.62b728"]]},{"id":"ff1a7f9f.00e58","type":"template","z":"5a6f5010.a590b","name":"Auth Form Encode","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"client_id={{credentials.product_id}}&client_secret={{credentials.product_secret}}","x":484,"y":1139,"wires":[["d091ad6c.2f6e5","9d04d848.62fb28"]]},{"id":"d0682dc7.2f97d","type":"function","z":"5a6f5010.a590b","name":"Credentials","func":"msg.credentials = {\n    product_id: \"227GTY\",\n    product_secret: \"c4e76a52cb765eab6eb328a969fc0b8c\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":996,"wires":[["4ef82cdc.b107d4"]]},{"id":"4ef82cdc.b107d4","type":"function","z":"5a6f5010.a590b","name":"Headers","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accepts\": \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":1083,"wires":[["ff1a7f9f.00e58"]]},{"id":"9d04d848.62fb28","type":"debug","z":"5a6f5010.a590b","name":"","active":true,"console":"false","complete":"false","x":538.5,"y":957,"wires":[]},{"id":"c3b93d66.3c46c","type":"inject","z":"5a6f5010.a590b","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":73,"y":646,"wires":[["b50085ad.4aff78"]]},{"id":"285ae823.d7a518","type":"function","z":"5a6f5010.a590b","name":"Header and Query","func":"// msg.headers = [{\"Content-Type\":\"application/json\"},{\"UserAgent\":\"crvf90dLVeqZR5Y\"}];\n\nmsg._id = \"crvf90dLVeqZR5Y\";\nmsg.url = \"https://eventapi.recochoku.jp/v2/musics?genre=MAIN:3000001750&q=*\"\nmsg.headers = {\"User-Agent\":\"'crvf90dLVeqZR5Y'\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":705,"wires":[[]]},{"id":"fb7234e7.048dc8","type":"http request","z":"5a6f5010.a590b","name":"","method":"GET","ret":"txt","url":"","x":451,"y":633,"wires":[["8f50c203.70af4","43a93ce6.bc56c4","5527b3c8.aad84c","b5d684b.f4a2978"]]},{"id":"43a93ce6.bc56c4","type":"debug","z":"5a6f5010.a590b","name":"","active":true,"console":"false","complete":"payload","x":668,"y":778,"wires":[]},{"id":"8f50c203.70af4","type":"http response","z":"5a6f5010.a590b","name":"","x":709,"y":708,"wires":[]},{"id":"a3becfad.5c413","type":"http in","z":"5a6f5010.a590b","name":"","url":"/code","method":"get","swaggerDoc":"","x":110,"y":724,"wires":[["b50085ad.4aff78"]]},{"id":"5527b3c8.aad84c","type":"xml","z":"5a6f5010.a590b","name":"","attr":"","chr":"","x":468,"y":767,"wires":[["8f50c203.70af4","5961535c.a69eac"]]},{"id":"8e6a18f9.7195e8","type":"twitter out","z":"5a6f5010.a590b","twitter":"","name":"Tweet","x":758.5,"y":547,"wires":[]},{"id":"5646ca05.a9b934","type":"inject","z":"5a6f5010.a590b","name":"","topic":"heart","payload":"60","payloadType":"json","repeat":"1","crontab":"","once":false,"x":149.5,"y":374,"wires":[["219d559f.de62aa"]]},{"id":"b5d684b.f4a2978","type":"delay","z":"5a6f5010.a590b","name":"","pauseType":"delay","timeout":"34","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":611.5,"y":564,"wires":[["8e6a18f9.7195e8"]]},{"id":"b50085ad.4aff78","type":"delay","z":"5a6f5010.a590b","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240.5,"y":622,"wires":[[]]}]